.d2analysis-gridheaders, .d2analysis-gridheaders * {
    border-color: #fff !important;
    background: #fff !important;
    font-size: 10px !important;
    text-transform: uppercase !important;
    color: #666 !important;
    font-weight: 400 !important;
    padding-left: 1px !important;
}

.d2analysis-gridheaders .x-btn-over * {
    color: #222 !important;
}
